.home {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  padding: 12px 50px;

  .app-head {
    margin-bottom: 10px;
  }

  .home__section {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home__section__title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    color: @home-section-title;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .actions {
    position: relative;

    .mat-stroked-button {
      margin-left: auto;
      margin-right: auto;

      &:first-child,
      &:last-child {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .mat-fab {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-50%);
    }

  }


}
