/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin: 0;
  font-family: @app-font-family;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.app-root {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: @app-background;
}

.actions {
  display: flex;
  padding: 16px 0;

  .mat-button,
  .mat-raised-button,
  .mat-stroked-button,
  .mat-flat-button {
    margin: 4px auto;

    &:first-of-type:not(:only-child) {
      margin-left: 0;
    }

    &:last-of-type:not(:only-child) {
      margin-right: 0;
    }
  }
}
