.register {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  padding: 12px 50px;

  .app-head {
    margin-bottom: 10px;
  }

  .register__section {
    display: block;
    padding-left: 10px;
    padding-right: 10px;

    .register__section__title {
      display: block;
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
      color: @register-section-title;
      text-transform: uppercase;
    }

    .mat-form-field {
      + .mat-mini-fab {
        margin-left: 20px;
      }
    }
  }

  .mat-form-field-wrapper {
    .mat-form-field {
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .ql-editor {
    min-height: 200px;
  }

}
