.app-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 12px;
  border-bottom: 2px solid @app-head-border-color;

  .app-head__title {
    display: block;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 8px 10px 6px 70px;

    .app-head__title__icon {
      @icon-size: 30px;
      font-size: @icon-size;
      width: @icon-size;
      height: @icon-size;
      margin-right: 10px;
      color: @app-head-title-icon;
      transform: translateY(-50%);
      left: 20px;
      top: 50%;
      position: absolute;
    }

    .app-head__title__text {
      font-size: 20px;
      line-height: 23px;
      font-weight: 500;
      margin-bottom: 0;
      color: @app-head-title-text;
    }

  }

}
