.fallback-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: @fallback-box-background;
  width: 100%;
  height: 74px;
  margin-top: 20px;
  margin-bottom: 20px;

  .fallback-box__wrapper {
    display: block;
    position: relative;
    padding-left: 40px;
  }

  .fallback-box__icon {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: @fallback-box-icon;
    width: 30px;
    height: 30px;
  }

  .fallback-box__text {
    display: block;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;
    color: @fallback-box-text;
  }
}
