.footer {
  background: @footer-background;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  height: 40px;
  padding: 4px 16px;

  .footer__logo {
    color: @footer-provider-logo;
    width: 80px;
    height: 30px;
    margin-right: 10px;
  }

  .footer__copyrights {
    color: @footer-text;
    font-size: 14px;
    margin-right: auto;
    margin-bottom: 0;
  }
}
