.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button {
  &:not([class*=mat-elevation-z]) {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 36px;
    text-transform: uppercase;
    border-radius: 0;
  }
}

.mat-stroked-button:not([class*=mat-elevation-z]) {
  border-width: 2px;
}

.mat-button:not([disabled]) {
  .mat-icon {
    color: @mat-button-primary;
  }
    &.mat-primary {
      color: @mat-button-primary;
      .mat-icon {
        color: @mat-button-primary;
      }
    }

    &.mat-secondary {
      color: @mat-button-secondary;
      .mat-icon {
        color: @mat-button-secondary;
      }
    }

    &.mat-accent {
      color: @mat-button-accent;
      .mat-icon {
        color: @mat-button-accent;
      }
    }

    &.mat-warn {
      color: @mat-button-warn;
      .mat-icon {
        color: @mat-button-warn;
      }
    }
}

.mat-raised-button:not([disabled]),
.mat-flat-button:not([disabled]) {
  &.mat-primary {
    background-color: @mat-button-primary;
  }

  &.mat-secondary {
    color: @mat-button-secondary-text;
    background-color: @mat-button-secondary;
  }

  &.mat-accent {
    background-color: @mat-button-accent;
  }

  &.mat-warn {
    background-color: @mat-button-warn;
  }
}

.mat-stroked-button:not([disabeld]) {
  &.mat-primary {
    color: @mat-button-primary;
    border-color: @mat-button-primary;
  }

  &.mat-secondary {
    color: @mat-button-secondary;
    border-color: @mat-button-secondary;
  }

  &.mat-accent {
    color: @mat-button-accent;
    border-color: @mat-button-accent;
  }

  &.mat-warn {
    color: @mat-button-warn;
    border-color: @mat-button-warn;
  }
}


.mat-icon-button:not([disabled]) {
  &.mat-primary {
    color: @mat-icon-button-primary;
  }

  &.mat-secondary {
    color: @mat-icon-button-secondary;
  }

  &.mat-accent {
    color: @mat-icon-button-accent;
  }

  &.mat-warn {
    color: @mat-icon-button-warn;
  }
}

.mat-fab:not([disabled]) {
  &.mat-primary {
    background-color: @mat-fab-primary;
  }
  &.mat-secondary {
    color: @mat-button-secondary-text;
    background-color: @mat-fab-secondary;
  }
  &.mat-accent {
    background-color: @mat-fab-accent;
  }
  &.mat-warn {
    background-color: @mat-fab-warn;
  }
}

.mat-mini-fab:not([disabled]) {
  &.mat-primary {
    background-color: @mat-fab-primary;
  }
  &.mat-secondary {
    color: @mat-button-secondary-text;
    background-color: @mat-fab-secondary;
  }
  &.mat-accent {
    background-color: @mat-fab-accent;
  }
  &.mat-warn {
    background-color: @mat-fab-warn;
  }
}
