.mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
  &:not([class="mat-elevation-z"]) {
    padding: 0;
  }

  .mat-card-header {
    padding: 16px 24px;
    position: relative;
    background: @mat-card-header-background;
    border-radius: 4px 4px 0 0;

    .mat-icon {
      &.mat-card-avatar {
        @avatar-size: 30px;
        font-size: @avatar-size;
        width: @avatar-size;
        height: @avatar-size;
        margin-right: 10px;
        color: @mat-card-header-icon;
      }
    }

    .mat-card-header-text {
      margin: auto 0;
    }

    .mat-card-title {
      color: @mat-card-header-title;
      font-weight: 500;
      margin: 0;
    }
    .mat-card__value {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      padding: 4px 8px 4px 50px;
      margin-left: auto;

      .mat-card__value__icon {
        @icon-size: 30px;
        position: absolute;
        font-size: @icon-size;
        width: @icon-size;
        height: @icon-size;
        left: 10px;
        top: 50%;
        color: @mat-card-value-icon-color;
        transform: translateY(-50%);
      }

      .mat-card__value__label {
        display: inline-block;
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        color: @mat-card-value-label-color;
        margin-right: 10px;
      }

      .mat-card__value__data {
        display: inline-block;
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        color: @mat-card-value-data-color;
      }
    }
  }
  .mat-card-content {
    padding: 24px;
    margin: 0;
  }

  &.mat-card--horizontal {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .mat-card-header {
      display: flex;
      background: @mat-card-header-background-horizontal;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      width: 220px;
      border-radius: 4px 0 0 4px;

      .mat-card-title {
        color: @mat-card-header-title-horizontal;
        font-size: 14px;
        text-align: center;
      }
    }


    .mat-card-content {
      display: block;
      flex-grow: 0;
      width: ~"calc(100% - 220px)";
    }
  }
}
