.cdk-overlay-pane {
  .mat-dialog-container {
    padding: 0;
  }

  .mat-dialog__header {
    display: block;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @mat-dialog-header-background;
    padding: 20px 80px;

    .mat-dialog__header__icon {
      display: block;
      position: absolute;
      top: 24px;
      left: 30px;
      color: @mat-dialog-header-icon;
    }

    .mat-dialog-title {
      display: block;
      color: @mat-dialog-header-title;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
    }

    .mat-dialog__header__undertitle {
      display: block;
      font-size: 14px;
      color: @mat-dialog-header-undertitle;
      margin-bottom: 0;
    }

    .mat-dialog__close-button {
      display: block;
     position: absolute;
     top: 16px;
     right: 16px;
    }
  }

  .mat-dialog-content {
    margin: 0;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
}


