.mat-expansion-panel-header {
  .mat-expansion-panel__title {
    display: block;
    position: relative;
    padding: 3px 16px 3px 34px;

    .mat-expansion-panel__title__icon {
      position: absolute;
      color: @mat-expansion-panel-title-icon;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .mat-expansion-panel__title__text {
      font-size: 20px;
      line-height: 26px;
      color: @mat-expansion-panel-title-text;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}

.mat-expansion-panel {
  &.mat-expansion-panel--table {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}
