.mat-checkbox {
  &:active {
    &:not(.mat-checkbox-disabled).mat-accent {
      .mat-ripple-element {
        background: @mat-checkbox-accent;
      }
    }
  }
}
.mat-checkbox-checked {
  &.mat-accent {
    .mat-checkbox-background {
      background-color: @mat-checkbox-accent;
    }
    &:not(.mat-checkbox-disabled) {
      .mat-ripple-element {
        background: @mat-checkbox-accent;
      }

    }
  }
}
