.mat-tab-group {
  &.mat-primary {
    .mat-ink-bar {
      background-color: @mat-tab-ink-bar-primary;
    }
  }

  &.mat-secondary {
    .mat-ink-bar {
      background-color: @mat-tab-ink-bar-secondary;
    }
  }

  &.mat-accent {
    .mat-ink-bar {
      background-color: @mat-tab-ink-bar-primary;
    }
  }
}

.mat-tab-header {
  background: @mat-tab-header-background;
  border-bottom: none;
}

.mat-tab-label {
  .mat-tab-label-content {
    text-transform: uppercase;
  }
}

.mat-tab-body-wrapper {
  background: @mat-tab-body-background;
  padding: 24px;
}
