.mat-toolbar {
  &.mat-primary {
    background: @mat-toolbar-background-primary;
  }
  &.mat-accent {
    background: @mat-toolbar-background-accent;
  }
  &.mat-warn {
    background: @mat-toolbar-background-warn;
  }
}
