.mat-form-field-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 0;

  .mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.mat-form-fieldset {
  display: block;
  width: 100%;
  padding-left: 40px;

  .mat-form-fieldset__title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: @mat-form-fieldset-title-color;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .mat-form-field-wrapper {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.mat-form-date-range-wrapper {
  display: block;

  .mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
  }

  .mat-form-date-range__text {
    font-size: 16px;
    line-height: 21px;
    color: @mat-form-field-date-range-text;
  }
}

.mat-form-field {
  font-size: 16px;
  font-weight: 400;
  font-family: @app-font-family;

  // Reset input type="number" appearance
  input {
    &::-webkit-out-spin-button,
    &::-webkit-inner-spin-button,
    &[type="number"] {
      appearance: none;
      margin: 0;
    }
  }


  &.mat-focused {
    .mat-form-field-label {
      color: @mat-form-field-label-focused;
    }
    .mat-form-field-ripple {
      background-color: @mat-form-field-underline-focused;
    }
  }
  .mat-icon-button {
    width: 32px;
    height: 32px;
    .mat-icon {
      font-size: 24px !important;
      width: 24px !important;
      height: 24px !important;
      color: @mat-form-field-suffix-button-icon;
    }
  }

  &.mat-form-field--double {
    width: 360px;
  }

  &.mat-form-field--select {
    width: 150px;
  }
}
