.mat-table {

  .mat-header-cell {
    color: @mat-table-header-cell;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 12px;
    text-align: center;

    &:first-of-type {
      padding-left: 24px;
      text-align: left;
    }

    &:last-of-type {
      padding-right: 24px;
    }

    &.mat-header-cell--product {
      width: 30%;
      text-align: left;
    }


    &.mat-header-cell--amount-edit {
      width: 15%;
    }
  }

  .mat-cell {
    color: @mat-table-cell;
    font-size: 14px;
    line-height: 19px;
    padding: 4px 12px;
    text-align: center;

    &:first-of-type {
      padding-left: 24px;
      text-align: left;
    }

    &:last-of-type {
      padding-right: 24px;
    }

    &.mat-cell--highlight {
      color: @mat-table-cell-highlight;
    }

    &.mat-cell--product {
      text-align: initial;
    }

    &.mat-cell--expanded {
      padding: 0;
      padding-left: ~"calc(15% + 12px)";

    }
  }


  .mat-table__product-thumb  {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;

    .mat-table__product-thumb__image {
      display: block;
      position: absolute;
      min-height: 100%;
      height: 100%;
      max-height: 100%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  .mat-table__product {
    display: block;
    max-width: 100%;
    justify-self: initial;
    margin: 0;

    .mat-table__product-thumb {
      display: inline-block;
      margin-right: 10px;
    }

    .mat-table__product__data {
      display: inline-block;
      width: ~"calc(100% - 60px)";
      max-width: ~"calc(100% - 60px)";
    }

    .mat-table__product__name {
      display: block;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 0;
      color: @mat-table-product-name;
    }
    .mat-table__product__info {
      display: block;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 0;
      color: @mat-table-product-info;

      > span:not(:first-child) {
        margin-left: 6px;
      }
    }

    .mat-table__product__link {
      display: block;
      font-size: 14px;
      line-height: 19px;
      color: @mat-table-product-link;
    }

  }
}
