.number-form-field {
  display: flex;
  flex-grow: 0;
  align-items: center;

  .mat-icon-button {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .mat-form-field {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
    width: ~"calc(100% - 120px)";

  }

  .mat-form-field-infix {
    width: 100%;
  }
}
