<button mat-icon-button color="primary">
  <mat-icon>remove</mat-icon>
</button>
<mat-form-field>
  <input matInput type="number" [value]="0">
</mat-form-field>
<button mat-icon-button color="primary">
  <mat-icon>add</mat-icon>
</button>
