<app-head icon="lamp" title="{{'QUERY.TITLE' | translate}}"></app-head>
<!-- Card de Mensagem | Início -->
<mat-card class="mat-card--horizontal">
  <mat-card-header>
    <mat-card-title>{{'QUERY.MESSAGE.TITLE' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-form-field-wrapper">
      <mat-form-field>
        <mat-label>{{'QUERY.MESSAGE.MESSAGE_CODE' | translate}}</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field  class="mat-form-field--double">
        <mat-label>{{'QUERY.MESSAGE.DESCRIPTION' | translate}}</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field class="mat-form-field--select">
        <mat-label>{{'QUERY.MESSAGE.SITUATION' | translate}}</mat-label>
        <mat-select>
          <mat-option *ngFor="let situation of situations" [value]="situation.value">
            {{ situation.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mat-form-field--select">
        <mat-label>{{'QUERY.MESSAGE.CRITICALITY' | translate}}</mat-label>
        <mat-select>
          <mat-option *ngFor="let criticality of criticality" [value]="criticality.value">
            {{criticality.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="mat-form-date-range-wrapper">
      <mat-form-field>
        <mat-label>{{'QUERY.MESSAGE.DISPLAY_INITIAL_DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="initialDate">
        <mat-datepicker-toggle matSuffix [for]="initialDate">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #initialDate></mat-datepicker>
      </mat-form-field>

      <span class="mat-form-date-range__text">{{'QUERY.MESSAGE.UNTIL' | translate}}</span>

      <mat-form-field>
        <mat-label>{{'QUERY.MESSAGE.DISPLAY_INITIAL_DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>


  </mat-card-content>
</mat-card>
<!-- Card de Mensagem | Fim -->

<!-- Card de Público | Início -->
<mat-card class="mat-card--horizontal">
  <mat-card-header>
    <mat-card-title>{{'QUERY.PUBLIC.TITLE' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-form-field-wrapper">
      <mat-form-field class="mat-form-field--select">
        <mat-label>{{ 'QUERY.PUBLIC.FUNCTION' | translate }}</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="home__section">
      <h3 class="home__section__title">
        {{ 'QUERY.PUBLIC.DISTRIBUTION_CHANNEL' | translate }}
      </h3>
      <div class="mat-form-fieldset">
        <div class="mat-form-field-wrapper">

          <h4 class="mat-form-fieldset__title">{{'QUERY.PUBLIC.DISTRIBUTION_CHANNEL_CODE' | translate}}</h4>

          <mat-form-field>
            <mat-label>{{ 'QUERY.PUBLIC.DISTRIBUTION_CENTER_CODE' | translate }}</mat-label>
            <input matInput>
            <button mat-icon-button matSuffix [attr.aria-label]="'ACTIONS.SEARCH' | translate">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="mat-form-field--double">
            <mat-label>{{'QUERY.PUBLIC.DISTRIBUTION_CHANNEL' | translate}}</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div class="mat-form-field-wrapper">
          <h4 class="mat-form-fieldset__title">{{'QUERY.PUBLIC.DISTRIBUTION_CHANNEL_FEDERATIVE_UNITY' | translate}}</h4>
          <mat-form-field class="mat-form-field--select">
            <mat-label>{{ 'QUERY.PUBLIC.FEDERATIVE_UNITY' | translate }}</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div class="mat-form-field-wrapper">
      <mat-form-field>
        <mat-label>{{'QUERY.PUBLIC.ACCESS_GROUP_CODE' | translate}}</mat-label>
        <input matInput>
        <button mat-icon-button matSuffix [attr.aria-label]="'ACTIONS.SEARCH' | translate">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'QUERY.PUBLIC.ACCESS_GROUP' | translate}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<!-- Card de Público | Fim -->

<div class="actions">
  <button mat-fab color="secondary" [attr.aria-label]="'ACTIONS.REGISTER_NEW_MESSAGE' | translate " routerLink="/register">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-stroked-button color="primary" routerLink="/">{{'ACTIONS.SEARCH' | translate}}</button>
</div>
