<app-head icon="lamp" title="{{ 'REGISTER.TITLE' | translate }}"></app-head>

<form action="">
  <!--  -->
  <div class="mat-form-field-wrapper">

    <mat-form-field>
      <mat-label>{{'REGISTER.CODE' | translate}}</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="mat-form-field--double">
      <mat-label>{{ 'REGISTER.DESCRIPTION' | translate}}</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'REGISTER.SITUATION' | translate }}</mat-label>
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'REGISTER.CRITICALITY' | translate }}</mat-label>
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>

  </div>
<!-- Abas | Início -->
  <mat-tab-group mat-align-tabs="start">
    <!-- Aba Vigência | Início -->
    <mat-tab label="{{'REGISTER.VALIDITY.TAB_NAME' | translate }}">
      <div class="mat-form-date-range-wrapper">
        <mat-form-field>
          <mat-label>{{'REGISTER.VALIDITY.INITIAL_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="initialDate">
          <mat-datepicker-toggle matSuffix [for]="initialDate">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #initialDate></mat-datepicker>
        </mat-form-field>

        <span class="mat-form-date-range__text">{{ 'REGISTER.VALIDITY.UNTIL' | translate}}</span>

        <mat-form-field>
          <mat-label>{{'REGISTER.VALIDITY.FINAL_DATE' | translate}}</mat-label>
          <input matInput [matDatepicker]="finalDate">
          <mat-datepicker-toggle matSuffix [for]="finalDate">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #finalDate></mat-datepicker>
        </mat-form-field>
      </div>

    </mat-tab>
    <!-- Aba Vigência | Fim -->

    <!-- Aba Público | Início -->
    <mat-tab label="{{ 'REGISTER.PUBLIC.TAB_NAME' | translate }}">
      <div class="register__section">
        <h3 class="register__section__title">{{'REGISTER.PUBLIC.FUNCTION' | translate}}</h3>
        <div class="mat-form-field-wrapper">
          <mat-form-field class="mat-form-field--select">
            <mat-label>{{'REGISTER.PUBLIC.FUNCTION' | translate}}</mat-label>
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-mini-fab color="primary" [attr.aria-label]="'ACTIONS.ADD' | translate">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <fallback-box message="{{ 'REGISTER.PUBLIC.NO_FUNCTION_FALLBACK_MESSAGE' | translate }}"></fallback-box>

      </div>

      <div class="register__section">
        <h3 class="register__section__title">{{ 'REGISTER.PUBLIC.DISTRIBUTION_CHANNEL' | translate }}</h3>

        <div class="mat-form-fieldset">
          <h3 class="mat-form-fieldset__title">{{'REGISTER.PUBLIC.DISTRIBUTION_CHANNEL_CODE' | translate}}</h3>

          <div class="mat-form-field-wrapper">
            <mat-form-field>
              <mat-label>{{ 'REGISTER.PUBLIC.DISTRIBUTION_CENTER_CODE' | translate }}</mat-label>
              <input type="text" matInput>
              <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'REGISTER.PUBLIC.DISTRIBUTION_CHANNEL' |  translate }}</mat-label>
              <input type="text" matInput>
            </mat-form-field>
            <button mat-mini-fab color="primary" [attr.aria-label]="'ACTIONS.ADD' | translate">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="mat-form-field-wrapper">
            <button mat-button>
              <mat-icon svgIcon="export"></mat-icon>
              {{ 'REGISTER.PUBLIC.TEMPLATE_DOWNLOAD' | translate }}
            </button>
            <button mat-button>
              <mat-icon svgIcon="upload"></mat-icon>
              {{ 'REGISTER.PUBLIC.IMPORT' | translate }}
            </button>
          </div>
          <fallback-box message="{{ 'REGISTER.PUBLIC.NO_STRUCTURE_FALLBACK_MESSAGE' | translate}}"></fallback-box>
        </div>
        <div class="mat-form-fieldset">
          <h3 class="mat-form-fieldset__title">{{ 'REGISTER.PUBLIC.DISTRIBUTION_CHANNEL_FEDERATIVE_UNITY' | translate}}</h3>
          <div class="mat-form-field-wrapper">
            <mat-form-field class="mat-form-field--select">
              <mat-label>{{'REGISTER.PUBLIC.FEDERATIVE_UNITY' | translate }}</mat-label>
              <mat-select>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="primary" [attr.aria-label]="'ACTIONS.ADD' | translate">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <fallback-box message="{{'REGISTER.PUBLIC.DISTRIBUTION_CHANNEL_FEDERATIVE_UNITY' | translate}}"></fallback-box>
        </div>

      </div>
      <div class="register__section">
        <h3 class="register__section__title">{{ 'REGISTER.PUBLIC.ACCESS_GROUP' | translate }}</h3>
        <div class="mat-form-field-wrapper">
          <mat-form-field>
            <mat-label>{{ 'REGISTER.PUBLIC.ACCESS_GROUP_CODE' | translate }}</mat-label>
            <input type="text" matInput>
            <button mat-icon-button matSuffix>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'REGISTER.PUBLIC.ACCESS_GROUP' | translate }}</mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
        <fallback-box message="{{ 'REGISTER.PUBLIC.ACCESS_GROUP_FALLBACK_MESSAGE' | translate}}"></fallback-box>
      </div>
    </mat-tab>
    <!-- Aba Público | Fim -->

    <!-- Aba Mensagem | Início -->
    <mat-tab label="{{ 'REGISTER.PUBLIC.TAB_NAME' | translate }}">
      <div>
        <quill-editor></quill-editor>
      </div>
    </mat-tab>
    <!-- Aba Mensagem | Fim -->

  </mat-tab-group>
  <!-- Aba  | Fim -->
  <div class="actions">
    <button mat-stroked-button color="primary"routerLink="/">{{ 'ACTIONS.BACK_TO_THE_QUERY' | translate }}</button>
    <button mat-raised-button color="primary">{{'ACTIONS.SAVE' | translate}}</button>
  </div>
</form>
