/////////// Application General Colors
// Base colors
@brand-primary-color: #8D45FF;
@brand-secondary-color: #FF005A;
@brand-accent-color: #17C0A6;
@brand-inverse-accent-color: #FF4C61;

// Application General Background
@app-background: #eff1f7;

// Text colors
@light-text-color: rgba(0,0,0,.38);
@main-text-color: rgba(0,0,0,.54);
@strong-text-color: rgba(0,0,0,.87);
@light-inverse-text-color: rgba(255,255,255,.38);
@main-inverse-text-color: rgba(255,255,255,.54);
@strong-inverse-text-color: rgba(255,255,255,.87);

// Border colors
@border-color: rgba(0,0,0,.05);

//////////// Component Colors
// App Head
@app-head-title-icon: #AEBBCB;
@app-head-title-text: @main-text-color;
@app-head-border-color: @border-color;

// Footer
@footer-background: #393c40;
@footer-text: @main-inverse-text-color;
@footer-provider-logo: #FFFFFF;

// Mat Toolbar Colors
@mat-toolbar-background-primary: @brand-primary-color;
@mat-toolbar-background-accent: @brand-secondary-color;
@mat-toolbar-background-warn: @brand-inverse-accent-color;

// Mat Card Colors
@mat-card-background: #FFFFFF;
@mat-card-header-background: #FAFAFA;
@mat-card-header-background-horizontal: @brand-primary-color;
@mat-card-header-title: @main-text-color;
@mat-card-header-title-horizontal: #FFFFFF;
@mat-card-header-icon: @main-text-color;
@mat-card-value-icon-color: @main-text-color;
@mat-card-value-label-color: @main-text-color;
@mat-card-value-data-color: @main-text-color;

// Mat Form Field
@mat-form-fieldset-title-color: @brand-secondary-color;
@mat-form-field-label-focused: @brand-primary-color;
@mat-form-field-underline-focused: @brand-primary-color;
@mat-form-field-suffix-button-icon: @brand-primary-color;
@mat-form-field-date-range-text: @main-text-color;

// Mat Button
@mat-button-primary: @brand-primary-color;
@mat-button-secondary: @brand-secondary-color;
@mat-button-secondary-text: #ffffff;
@mat-button-accent: @brand-accent-color;
@mat-button-warn: @brand-inverse-accent-color;

// Mat Icon Button
@mat-icon-button-primary: @brand-primary-color;
@mat-icon-button-secondary: @brand-secondary-color;
@mat-icon-button-accent: @brand-secondary-color;
@mat-icon-button-warn: @brand-inverse-accent-color;

// Mat Fab
@mat-fab-primary: @brand-primary-color;
@mat-fab-secondary: @brand-secondary-color;
@mat-fab-accent: @brand-accent-color;
@mat-fab-warn: @brand-inverse-accent-color;

// Mat Expansion Panel
@mat-expansion-panel-title-icon: @brand-primary-color;
@mat-expansion-panel-title-text: @brand-primary-color;

// Mat Table
@mat-table-header-cell: @light-text-color;
@mat-table-cell: @light-text-color;
@mat-table-product-name: @strong-text-color;
@mat-table-product-info: @main-text-color;
@mat-table-product-link: @brand-primary-color;
@mat-table-cell-highlight: @brand-primary-color;

// Mat Checkbox
@mat-checkbox-accent: @brand-accent-color;

// Mat Dialog
@mat-dialog-header-background: #f4f4f4;
@mat-dialog-header-icon: @brand-primary-color;
@mat-dialog-header-title: @main-text-color;
@mat-dialog-header-undertitle: @light-text-color;
@mat-dialog-close-button: @main-text-color;
@mat-dialog-alert-text: @main-text-color;

// Fallback Box
@fallback-box-background: #EBECEC;
@fallback-box-icon: @brand-primary-color;
@fallback-box-text: @main-text-color;

// Mat Tabs
@mat-tab-header-background: #F8F8F8;
@mat-tab-body-background: #ffffff;
@mat-tab-header-text: @main-text-color;
@mat-tab-header-text-active: @strong-text-color;
@mat-tab-ink-bar-primary: @brand-primary-color;
@mat-tab-ink-bar-secondary: @brand-secondary-color;
@mat-tab-ink-bar-accent: @brand-accent-color;


//////////// Layout Colors

// Home
@home-section-title: @brand-primary-color;


// Register
@register-section-title: @brand-primary-color;
