
/////// Roboto ////////
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Light.eot');
  src: url('/fonts/roboto/Roboto-Light.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-Light.woff') format('woff'),
       url('/fonts/roboto/Roboto-Light.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-Light.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-LightItalic.eot');
  src: url('/fonts/roboto/Roboto-LightItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-LightItalic.woff') format('woff'),
       url('/fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-LightItalic.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.eot');
  src: url('/fonts/roboto/Roboto-Regular.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-RegularItalic.eot');
  src: url('/fonts/roboto/Roboto-RegularItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-RegularItalic.woff') format('woff'),
       url('/fonts/roboto/Roboto-RegularItalic.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-RegularItalic.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Medium.eot');
  src: url('/fonts/roboto/Roboto-Medium.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-Medium.woff') format('woff'),
       url('/fonts/roboto/Roboto-Medium.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-Medium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-MediumItalic.eot');
  src: url('/fonts/roboto/Roboto-MediumItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
       url('/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-MediumItalic.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Bold.eot');
  src: url('/fonts/roboto/Roboto-Bold.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('/fonts/roboto/Roboto-Bold.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-Bold.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-BoldItalic.eot');
  src: url('/fonts/roboto/Roboto-BoldItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
       url('/fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
       url('/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
       url('/fonts/roboto/Roboto-BoldItalic.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: italic;
}
/////// Roboto ////////


/////// Open Sans ////////
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-Light.eot');
  src: url('/fonts/opensans/OpenSans-Light.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-LightItalic.eot');
  src: url('/fonts/opensans/OpenSans-LightItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-Regular.eot');
  src: url('/fonts/opensans/OpenSans-Regular.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-RegularItalic.eot');
  src: url('/fonts/opensans/OpenSans-RegularItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-Medium.eot');
  src: url('/fonts/opensans/OpenSans-Medium.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-MediumItalic.eot');
  src: url('/fonts/opensans/OpenSans-MediumItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-Bold.eot');
  src: url('/fonts/opensans/OpenSans-Bold.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/opensans/OpenSans-BoldItalic.eot');
  src: url('/fonts/opensans/OpenSans-BoldItalic.eot#iefix') format('embedded-opentype'),
       url('/fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/////// Open Sans ////////
