/////////// Application General Variables
// Client name and folders
@client-name: 'gera';

// Typography setting
@app-font-family: Roboto, "Helvetica Neue", sans-serif;

// Client image paths
@assets-path: '/images/custom/@{client-name}/';

// Media Queries
@mq-desktop: ~'screen and (min-width: 960px)';
@mq-tablet: ~'screen and (min-width: 480px) and (max-width: 959px)';
@mq-phone: ~'screen and (max-width: 479px)';
